*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Trebuchet MS', Arial, Helvetica;
}
.text-center{
    text-align:center;
}
nav{
    width:100%;
    background:#09f;
    border-bottom:3px solid #069;
    color:#fff;
    height:50px;
    line-height:50px;
}
nav .nav-logo{
    width:20%;
    float:left;
    text-transform: uppercase;
    font-weight: bold;
    padding:0 10px;
}
nav .nav-logo a{
    color:#fff;
    text-decoration:none;
}
nav .nav-container{
    width:60%;
    float:left;
}
nav .nav-items{
    width:20%;
    float:left;
}
nav .nav-items ul{
    list-style-type: none;
}
nav .nav-items ul li{
    float:right;
}
nav .nav-items ul li a{
    color:#fff;
    text-decoration:none;
    padding:0 10px;
}
nav .nav-container input[type=search]{
    width:80%;
    height:40px;
    border-radius:5px;
    border:none;
    font-size:20px;
    padding:0 10px;
    outline: none;
}
.autocomplete{
    position:absolute;
    z-index:1000;
    background:#fff;
    margin-top:-6px;
    width:48%;
    display:none;
    padding:0 10px;
    border:1px solid #ccc;
}
.autocomplete a{
    color:black;
    text-decoration:none;
}
.divider{
    width:100%;
    height:1px;
    float:left;
    display:block;
    background:#ccc;
    margin:10px 0;
}
.card{
    margin-top:10px;
    width:100%;
    border:1px solid #ccc;
    padding:10px;
    position:relative;
    float:left;
    line-height:25px;
}
.card h2{
    color:#666;
}
.card a{
    color:#09f;
    text-decoration:none;
}
.card h3{
    color:#09f;
    border-left:2px solid #09f;
    padding-left:10px;
    margin-bottom:5px;
}
.card #quantity, .card .quantity{
    width:50px;
    height:30px;
    border:1px solid #ccc;
    text-align: center;
}
.card .button-add{
    width:30px;
    height:30px;
    background:#09f;
    border:none;
    border-radius:50%;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    outline:none;
    transition: .2s;
}
.card .button-add:hover{
    cursor:pointer;
    background:#069;
}
.card .add-cart-button{
    background:green;
    height:40px;
    border-radius:30px;
    color:#fff;
    border:none;
    font-size:18px;
    font-weight: bold;
    outline: none;
    padding:0 20px;
    transition: .2s;
}
.card .add-cart-button:hover{
    background:#0cb00c;
    cursor:pointer;
}
.card ul{
    list-style-type:none;
}
.card .img-produto{
    width:100%;
    height:300px;
    position:relative;
    float:left;
    display:block;
}
.card .img-produto img{
    width:100%;
    height:100%;
    position:relative;
}
.card .detalhes-produto{
    width:100%;
    position:relative;
    float:left;
    display:block;
}
.card .detalhes-produto a{
    text-decoration: none;
    color:#09f;
}
.card .detalhes-produto label{
    width:100%;
    float:left;
    display:block;
    color:green;
    font-size:22px;
    font-weight:bold;
}
.card .adicionar-produto{
    width:100%;
    position:relative;
    float:left;
    display:block;
    margin-top:5px;
}
.card .adicionar-produto .add-cart{
    width:100%;
    height:40px;
    font-size:18px;
    background:green;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    outline:none;
    transition: .2s;
}
.card .adicionar-produto .add-cart:hover{
    cursor:pointer;
    background:#0cb00c;
}
.produtos{
    width:100%;
    float:left;
    display:block;
    list-style-type: none;
}
.produtos li{
    border-bottom:1px solid #ccc;
    width:100%;
    position:relative;
    float:left;
    display:block;
    padding:25px 0;
}
.produtos li:last-child{
    border-bottom:none;
}
.produtos li .img-produto-list{
    width:10%;
    height:100px;
    float:left;
    position:relative;
}
.produtos li .img-produto-list img{
    width:100%;
    height:100%;
    position:relative;
}
.produtos li .detalhes-produto{
    width:80%;
    float:left;
    position:relative;
}
.produtos li .acoes-produto{
    width:10%;
    line-height:100px;
    float:left;
    position:relative;
}
.finalizar{
    background:green;
    height:30px;
    float:right;
    padding:0 20px;
    border:none;
    color:#fff;
    border-radius:25px;
    transition: .2s;
}
.finalizar:hover{
    cursor:pointer;
    background:#0cb00c;
}
.lds-roller {
    top:50%;
    left:50%;
    margin-left:-32px;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #09f;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
